@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes move1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-move1 {
  animation: move1 6s infinite ease-in-out;
}

.animate-move2 {
  animation: move2 8s infinite ease-in-out;
}

.animate-move3 {
  animation: move3 10s infinite ease-in-out;
}

.light {
  position: absolute;
  transition: transform 3s ease-in-out;
}
button {
  z-index: 1000;
  position: relative;
}
a {
  z-index: 1000;
  position: relative;
}

.slick-slide {
  margin: 0;
  padding: 0;
  min-width: unset;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #f9ac54;
}

.bm-burger-bars-hover {
  background: #ff7a00;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #fff;
}

.bm-menu {
  background: #1c1c1e;
  padding: 2.5em 2em 0;
  font-size: 1.15em;
  width: 100%;
}

.bm-item-list {
  color: #f9ac54;
}

.bm-item:hover {
  color: #ff7a00;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
